:root {
	--light-background-color: #fff;
	--dark-background-color: #2F303A;
	--acent-color: #2196F3;
	--light-text-color: #fff;
	--light-link-color: rgba(255, 255, 255, 0.6);
	--primary-text-color: #757575;
	--black-text-color: #000;
	--title-text-color: #212121;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--primary-text-color);

	background-color: var(--light-background-color);
}

.list {
	list-style: none;
}

/* Сторінка студія */
/* Логотип */
.logo {
	font-family: 'Raleway', sans-serif;
	color: var(--black-text-color);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-decoration: none;
}

/* logo */
.logo:focus {
	outline: none;
}

.logo-accent {
	color: var(--acent-color);
}

/* nav */
.nav-link {
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--acent-color);

	outline: 0;
}

/* contact */
.contacts-link {
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--acent-color);

	outline: 0;
}

/* hero */
.hero {
	background-color: var(--dark-background-color);
}

.hero-title {
	color: var(--light-text-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.hero-button {
	color: var(--light-text-color);

	background-color: var(--acent-color);

	cursor: pointer;
}

/* section */
.section-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-align: center;
}

/* features */
.features-list .title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.features-list .text {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}

/* team */
.team-list .title {
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.03em;
}

.team-list .text {
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.03em;
}

/* footer */
.footer {
		background-color: var(--dark-background-color);
}

.footer .logo {
	color: var(--light-text-color);
}

.footer-list .text {
	color: var(--light-text-color);
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}

.footer-list .link {
	color: var(--light-link-color);
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	text-decoration: none;
}